body {
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('Images/naked-1847866_1920.jpg');
    font-family: 'Baloo Bhai 2', cursive;
}

.left {

    display: inline-block;
    /* border: 2px solid yellow; */
    position: absolute;
    top: 20px;
    left: 34px;

}

.left img {
    margin-left: 20%;
    width: 50px;
    filter: invert(100%);
}

.middle {
    display: block;
    width: 40%;
    margin: 20px auto;
    /* border: 2px solid red; */
}

.right {
    position: absolute;
    top: 33px;
    right: 34px;
    display: inline-block;
    /* border: 2px solid springgreen; */

}

.btn {
    margin: 0px 9px;
    padding: 4px 14px;
    background-color: black;
    color: white;
    border: 2px solid grey;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Baloo Bhai 2', cursive;
}

.btn:hover {
    background-color: rgb(19, 18, 18);
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 15px;
}

.navbar li a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 34px 23px;


}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: grey;
}

.container {
    border: 2px solid white;
    margin: 107px 36px;
    padding: 37px 52px;
    width: 30%;
    border-radius: 18px;
}

.form-group input {
    text-align: center;
    display: block;
    width: 466px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    border-radius: 6px;
    font-size: 19px;
    font-family: 'Baloo Bhai 2', cursive;
}

.container h1 {
    text-align: center;
}

.container button {
    display: block;
    width: 105%;
    margin: 20px auto;
}